{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        {% if validlink %}
            <div id="content">
                <h1>AFAC FINANÇAS</h1>
                <h3>Recuperação de Senha</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type="password" name="new_password1" id="id_new_password1" placeholder="Nova Senha">
                    </div>
                    {% if form.new_password1.errors %}
                        {% for erro in form.new_password1 %}
                            <span>{{ erro }}</span>
                        {% endfor %}
                    {% endif %}
                    <div>
                        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirme a Senha">
                    </div>
                    {% if form.new_password2.errors %}
                        {% for erro in form.new_password2.errors %}
                            <span>{{ erro }}</span>
                        {% endfor %}
                    {% endif %}
                    <button type="submit">Alterar Senha</button>
                </form>
            </div>
        {% else %}
            <h1>Falha na redefinição de senha</h1>
            <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
        {% endif %}
    </main>
</body>
</html>