{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
    <title>Recuperar Senha | AFAC Finanças</title>
</head>
<body>
    <Main>
        <h1 id="logo">AFAC FINANÇAS</h1>
        <h3>Recuperar Senha</h3>
        <form method="POST">
            {% csrf_token %}
            <div>
                <p>Informe seu E-mail</p>
                <input type="text" name="email" id="id_email" placeholder="Email">
            </div>        

            <button type="submit">Enviar Link</button>
        </form>

    </Main>
</body>
</html>