body{
    background-color: black;
    margin: 0;
    padding: 0;
}

#logo{
    color: orange;
}

main h1{
    margin: 0 0 1% 0;
}

main h3{
    color: white;
    margin: 0 0 1% 0;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main input{
    padding: 2% 5%; 
}

main p{
    color: white;
    margin: 0;
}

main div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main button{
    padding: 1% 3%;
    margin: 3%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}