body{
    color: white;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    padding: 10% 30%;
    margin: 0 0 20px 0;
}

button{
    padding: 5% 30%;
    background: transparent;
    border: 1px solid white;
    color: white;
}