body{
    color: white;
}

.formulario_adiconar_receitas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formulario_adiconar_receitas input{
    width: 100%;
    border: none;
    padding: 10%;
    margin: 15% 0 0 0;
}

main button{
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 5%;
    margin: 15% 0 0 0;
}

select{
    padding: 10% 50%;
}
