body{
    color: white;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categorias *{
    margin: 10px 3px;
}

.categorias a{
    color: #009eff;
    text-decoration: none;
}