body{
    color: white;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

select{
    width: 35vh;   
    height: 5vh;
    margin: 10px;
}

input{
    width: 34vh;   
    height: 5vh;
    margin: 10px;
}

button{
    padding: 1vh 10vh;
    margin: 10px;
}