body{
    color: white;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

h2{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select{
    padding: 10% 40%;
}

.a{
    margin: 10% 0 0 0;
    color: #009eff;
    text-decoration: none;
}

button{
    padding: 10% 40%;
    background: transparent;
    color: white;
    border: 1px solid;
    margin: 10%;
}