body{
    color: white;
}
.principal{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 60vh;
}

h1{
    text-align: center;
}

.secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

select{
    width: 35vh;   
    height: 6vh;
    margin: 10px;
}

input{
    width: 34vh;   
    height: 5vh;
    margin: 10px;
}

button{
    padding: 2vh 10vh;
    margin: 10px;
}