{% extends 'financeiro/modelo.html' %}
{% load static %}

{% block title %} AFAC Finanças|Caixinhas {% endblock %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'financeiro/css/caixinhas.css' %}"> {% endblock %}

{% block content %} 
    <div class="principal">
        <h1>Caixinhas</h1>
        <div class="div_a">
            <a href="{% url 'criarCaixinhas' %}">Criar Caixinhas</a>
        </div>
        <div class="pricipal_caixinhas">
            {% for caixa in caixinhas %}
                <div class="caixinhas">
                    <div class="superior">
                        <h3>{{ caixa.nome }}</h3>
                    </div>
                    <div class="meio">
                        <p>{{ caixa.valor }}</p>
                    </div>
                    <div class="inferior">
                        <a href="{% url 'excluir_caixinha' caixa.id %}" onclick="return confirm('Tem certeza que deseja excluir a caixinha?')">Excluir</a>
                        <a href="{% url 'editar_caixinha' caixa.id %}">Editar</a>
                    </div>
                </div>
            {% empty %}
            <h2>Sem Caixinhas Cadastradas</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}