{% extends 'financeiro/modelo.html' %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'financeiro/css/editarCategoriaDespesa.css' %}"> {% endblock %}

{% block title %} AFAC Finanças | Editar Categoria {% endblock %}

{% block content %}
    <div class="principal">
        <h1>Editar Categoria</h1>
        <form method="post">
            {% csrf_token %}
            {{form.categoria}}
            <button type="submit">Salvar</button>
        </form>
    </div>
{%  endblock %}