{% extends 'financeiro/modelo.html' %}
{% load static %}

{% block title %} AFAC Finanças | Editar Previsão {% endblock %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'financeiro/css/editarPrevisao.css' %}"> {% endblock %}

{% block content %}
        <div class="principal">
            <h1>Editar Previsão</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.nome }}
                {{ form.valor }}
                {{ form.data }}
                {{ form.ano }}
                <button type="submit">Salvar</button>
            </form>
        </div>
{% endblock %}
