{% extends 'financeiro/modelo.html' %}
{% load static %}

{% block title %} AFAC FINANÇAS | Receitas {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'financeiro/css/preReceita.css' %}"> {% endblock %}

{% block content %}
    <div class="principal">
        <div class="secundario">
            <h1>Quais Receitas Deseja Visualizar?</h1>
            <form method="post">
                {% csrf_token %}
                    {{ form.mes }}
                    {{ form.ano }}
                    <button type="submit"> Seguinte </button>
            </form>
        </div>
    </div> 
{% endblock %}